<!-- <p>my {{"Todo"}} is {{getMyTodo()}} with the id of {{todoId}}</p> -->


<!-- <input type="text" (input)="onTextChange($event)" > -->
<input type="text"   class="form-control m-2"  [(ngModel)]="msg">
<button class="btn btn-primary m-2"
(click)="changeMsg()"
>Add Todo</button>
<!-- <p *ngIf="todo_msg"
[ngStyle]="{backgroundColor : getColor()}"
[ngClass]="{Running:todoId === 'Running'}"
>Todo is Created {{todo}}</p> -->

<!-- <p *ngFor="let data of myData">
   todo 
</p> -->
<!-- 
//ngIf
//else
//ngStyle
//ngClass
//ngFor -->

<p *ngFor="let data of myData; let i = index"
[ngStyle]="{backgroundColor : i >= 3 ? 'yellow' : 'green'}"
[ngClass]="{'white-text': i < 3}" 
>{{i}} of {{data}}</p>
